/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

header .logo img {
    max-height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo do Conteúdo Principal */
main {
    padding: 20px;
    background-color: #f4f4f4;
}

main h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 5px #1111111a;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.service-card img{
    width: 300px;
}

.card h2 {
    margin: 15px 0 10px;
    font-size: 18px;
    color: #333;
}

.card p {
    color: #666;
}

.card .valor {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

/* Estilo do Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
